<!--  
  snippets/account-change-password.liquid
-->

<style>
  #changePassword,
  #changePassword:target ~ * {
    display: none;
  }

  #changePassword:target {
    display: block;
  }

  #updatePassword {
    max-width: 578px;
    border-top: 1px solid #E4E7EC;
    padding-top: 2.5rem;
    margin-top: 0;
  }
</style>

<div id="changePassword">
  <h2 class="account__page-title">Contraseña</h2>
  <p class="account__page-subtext">Por favor, introduzca su contraseña actual para cambiarla.</p>
  <div class="profile-form-fields">
    <form id="updatePassword">
      <div class="grid grid--1-col">
        <div class="grid__item field">
          <label for="contrasenaActual">
            Contraseña actual
          </label>
          <input type="password"
            required
            name="current_password"
            id="contrasenaActual"
            minlength="6"
          >   
        </div>
      </div>
      <div class="grid grid--1-col">
        <div class="grid__item field">
          <label for="contrasenaNueva">
            Nueva contraseña            
          </label>
          <input type="password"
            required
            name="new_password"
            id="contrasenaNueva"
            minlength="6"
            >   
            <span class="info">Su nueva contraseña debe tener más de 8 caracteres.</span>
        </div>
      </div>
      <div class="grid grid--1-col">
        <div class="grid__item field">
          <label for="contrasenaNuevaRepetir">
            Confirmar la nueva contraseña
          </label>
          <input type="password"
            required
            minlength="6"
            name="confirm_new_password"
            id="contrasenaNuevaRepetir"
          >   
        </div>
      </div>
      <div class="actions__wrapper">
        <button type="submit" class="button button--primary">Actualizar contraseña</button>
      </div>      
    </form>
  </div>
</div>

<script>
  $(function(){

    $('#updatePassword').on('submit', function(e){
      event.preventDefault();
      changePasswordMethod();
    });

    function changePasswordMethod(){
      changePassword(contrasenaActual.value, contrasenaNueva.value, contrasenaNuevaRepetir.value)
      .then(function(data) { 
        if(data.ok){
          alert(`{{ 'farmacorp.perfil.mensaje_exito_cambiar_password' | t}}`);
            window.location.href='/account/logout';
        }
      }).catch(function(err) {
    
        console.log(err);           
      
        var error_Message = "error";
        try {
          jquery('#executeChangePass').html(`Ok`);
          jquery('#cancelChangePass').removeClass('ocultar'); 
          error_Message = err.responseJSON.message;
          
        } catch (error) {
          error_Message = `intentelo nuevamente`;
        }

        var changePassword = jquery('#changePassword');
        changePassword.append(
          `<div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Ocurrio un error!</strong> ${error_Message}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
          </div>`);         
      });
    }
  })
</script>