<style>
    .page__heading{
        text-align: center;
    }

    .heading__text{
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 3rem;
        letter-spacing: -0.1rem;
        color: rgba(0, 0, 0, 0.6);
        margin-bottom: 1.1rem;
    }

    .heading__h1{
        font-weight: 500;
        font-size: 7.2rem;
        line-height: 8rem;
        letter-spacing: -4.5px;  
        margin: 0 auto;   
        max-width: 960px;   
    }

    .heading__subtext{
        font-size: 2.1rem;
        line-height: 3rem;
        letter-spacing: -0.08rem;
        color: rgba(0, 0, 0, 0.6);
        margin-top: 1.1rem;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .page-header {
    margin-top: 63px;
    } 
    .page-heading h1.heading__h1 {
    font-size: 44px;
    line-height: 48.66px;
    letter-spacing: -1.44px;
}
.page-heading .heading__subtext {
    font-size: 21px;
    line-height: 21.63px;
    letter-spacing: -0.54px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 8px;
    }

    @media screen and (max-width: 749px) {
        .heading__text {
            font-size: 1.6rem;
            line-height: 2.4rem;
            letter-spacing: -0.2px;
            color: #000000;
            margin-bottom: 2.4rem;
        }

        .heading__h1 {
            font-size: 2rem;
            line-height: 2.6rem;
            font-weight: 600;
            letter-spacing: -0.2px
        }

        .heading__subtext {
            font-size: 1.6rem;
            line-height: 2.4rem;
            letter-spacing: -0.2px;
            color: #000000;
            margin-top: 2.4rem;
        }
    }
</style>
<div class="page__heading page-width {% if page.handle contains 'farma-movil' %}page-heading{% endif %}">
    {% if section.settings.text != blank %}
        <div class="heading__text">{{ section.settings.text }}</div>
    {% endif %}
    {% if section.settings.heading != blank %}
        <h1 class="heading__h1"> {{ section.settings.heading }} </h1>
    {% endif %}
    {% if section.settings.subtext != blank %}
        <div class="heading__subtext"> {{ section.settings.subtext }} </div>
    {% endif %}
</div>

{% schema %}
{    
    "name": "Page heading",
    "class": "spaced-section page-header",
    "settings": [
        {
            "type": "text",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "text",
            "id": "subtext",
            "label": "Subtext"
        }
    ],
    "presets": [
        {
            "name": "Page heading"
        }
    ]    
}
{% endschema %}