.list-social {
  display: flex;
  /* flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: column; */
}

@media only screen and (max-width: 749px) {
  .list-social {
    justify-content: center;
  }
}

.list-social__item .icon {
  height: 1.8rem;
  width: 1.8rem;
}

.list-social__link {
  align-items: center;
  display: flex;
  padding: 0.8rem;
  color: rgb(var(--color-foreground));
  padding-left: 0;
  color: #545454;
}

.list-social__link:hover .icon {
  transform: scale(1.07);
}

.footer__list-social .list-social__item span{
  padding-left: 0.65rem;
}
