.icon-with-text .grid{
    flex-wrap: nowrap;
}

.icon-with-text__grid{
    margin: 0;    
    padding: 4rem;
}

.icon-with-text__grid-item{
    margin: 0;
    padding-left: 6.5px;
}

.icon-with-text__text{
    margin-left: 1.6rem;
}

.icon-with-text__text h2{
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 600;
    color: #1A1A1A;
    margin-top: 0;
    margin-bottom: 0.8rem;
}

.icon-with-text__text p{
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #999999;
    font-weight: 600;
    margin: 0;
}