.collection-grid-section {
  margin-top: 3rem;
}

.collection {
  position: relative;
  z-index: 0;
}

.collection #product-grid {
  margin-top: 3.65rem;
}

@media screen and (max-width: 749px) {
  .collection {
    /* overflow-x: hidden; */
  }

  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .collection #product-grid {
    margin-left: -1.3rem;
    margin-top: 5.2rem;
  }

  .collection #product-grid .grid__item {
    padding-left: 1.3rem;
  }

  .collection-grid-section {
    margin-top: 2.5rem;
  }
}

@media screen and (min-width: 750px) {
  .collection .title-wrapper-with-link--no-heading {
    margin-top: calc(6rem + var(--page-width-margin));
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}


.collection-grid-filter {
  display: flex;
  flex-wrap: wrap;
}

.collection-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 750px) {
  #main-collection-filters {
    width: 240px;
  }

  #ProductGridContainer {
    width: calc(100% - 240px);
    padding-left: 5.6rem;
  }  
}

#ProductGridContainer.full {
  width: 100%;
  padding-left: 0;
}

@media screen and (max-width: 749px) {
  #ProductGridContainer.full #product-grid {
    margin-left: 0;
  }
}